@using MvcCvMiniProje.Models.entities
@model MvcCvMiniProje.Models.entities.tbl_eğitim
@{
    ViewBag.Title = "egetir";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}
<br />
<h2>Eğitim Güncelleme Sayfası</h2>
<form class="form-group" method="post">
    @Html.HiddenFor(m => m.Id)
    <div style="margin-top:5px">
        @Html.Label("Başlık:")
        @Html.TextBoxFor(m => m.Başlık,new {@class="form-control" })
    </div>
    <div style="margin-top:5px">
        @Html.Label("Alt Başlık:")
        @Html.TextBoxFor(m => m.AltBaşlık, new { @class = "form-control" })
    </div>
    <div style="margin-top:5px">
        @Html.Label("Alt Başlık2:")
        @Html.TextBoxFor(m => m.AltBaşlık2, new { @class = "form-control" })
    </div>
    <div style="margin-top:5px">
        @Html.Label("Gno:")
        @Html.TextBoxFor(m => m.Gno, new { @class = "form-control" })
    </div>
    <div style="margin-top:5px">
        @Html.Label("Tarih:")
        @Html.TextBoxFor(m => m.Tarih, new { @class = "form-control" })
    </div>
    <div style="margin-top:5px">
        <button class="btn btn-info">Güncelle</button>
    </div>
</form>
