@using MvcCvMiniProje.Models.entities
@model List<tbl_yetenekler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}
@{string renk = ""; }
@{string renk2 = "";}
<br />
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Yetenek Listem</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Yetenek</th>
                                            <th>Derece</th>
                                            <th style="width: 40px">Oran</th>
                                            <th>Sil</th>
                                            <th>Düzenle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var x in Model)
                                        {
                                            if(x.Oran>=0 && x.Oran <= 50)

                                            {
                                                renk = "progress-bar bg-danger";
                                                renk2 = "badge bg-warning";
                                            }
                                            if(x.Oran>=51 && x.Oran <= 70)
                                            {
                                                renk = "progress-bar bg-warning";
                                                renk2 = "badge bg-danger";
                                            }
                                            if(x.Oran>=71 && x.Oran <= 100)
                                            {
                                                renk = "progress-bar bg-success";
                                                renk2 = "badge bg-primary";
                                            }

                                        <tr>
                                            <td>@x.Id</td>
                                            <td>@x.Yetenek</td>
                                            <td>
                                                <div class="progress progress-xs">
                                                    <div class="@renk" style="width: @x.Oran%"></div>
                                                </div>
                                            </td>
                                            <td><span class="@renk2">@x.Oran%</span></td>
                                            <td>
                                                <a class="btn btn-info btn-sm" href="/yetenek/ygetir/@x.Id">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Düzenle
                                                </a>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" href="/yetenek/ysil/@x.Id">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Sil
                                                </a>
                                            </td>

                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <a href="/yetenek/yeniyetenek" class="btn btn-info">Yetenek Ekle</a>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</body>
</html>
