@using MvcCvMiniProje.Models.entities
@model MvcCvMiniProje.Models.entities.tbl_sertifikalar
@{
    ViewBag.Title = "sgetir";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}
<br />
<h3>Sertifika Güncelleme Alanı</h3>
<form method="post" class="form-group">
    @Html.HiddenFor(m => m.Id)
    <div style="margin-top:5px">
        @Html.Label("Alınma Tarihi")
        @Html.TextBoxFor(m => m.Tarih, new { @class = "form-control" })
    </div>
    <div style="margin-top:5px">
        @Html.Label("Açıklama")
        @Html.TextBoxFor(m => m.Açıklama, new { @class = "form-control" })
    </div>
    <div style="margin-top:5px">
        <button class="btn btn-info">Güncelle</button>
    </div>
</form>

